/* Typography */

* {
  font-family: 'Ubuntu', sans-serif;
}

/* color components */
:root {
  --primary-font-color: #3b3b3b;
  --secondary-font-color: #1eafde;
  --subtitle-font-color: #ebebeb;

  --desktop-hero-image-background: #ebebeb;

  --footer-background: #16242f;
  --red-accent: #de6262;
  --green-accent: #25c389;
  --yellow-accent: #ffb901;
  --light-blue-accent: #19b2de;
  --medium-blue-accent: #1596bd;
  --dark-blue-accent: #527cc4;
  --pink-accent: #f6679c;
  --grey-accent: #5c666f;
}

/* base */

.homepage{
  margin: 0 auto;
}

img {
  max-width: 100%;
}

/* layout*/

.heading,
.subheading{
  text-align: center;
}

.heading-footer{
  text-align: left;
}

p{
  font-size: 0.8rem;
}

.row{
  padding: 2rem;
}

.col-span{
  grid-column-start: 1;
  grid-column-end: -1;
}

/* latest projects */

.project-desc{
  display: none;
  background-color: var(--light-blue-accent);
  color: var(--subtitle-font-color);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 0.5;
}

.project{
  position: relative;
  margin: 0;
}

.project:hover .project-desc{
  display: block;
}

.caption{
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 1rem;
}

.fa-file-o{
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1rem;
  background-color: var(--medium-blue-accent);
}

/* footer */
.page-footer{
  background-color: var(--footer-background);
  color: var(--subtitle-font-color);
}

.page footer .row{
  background-image: url(../img/colourbar.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  padding-bottom: 5rem;
}

.page-footer-intro{
  display: grid;
  grid-template-columns: 1fr 65vw;
  column-gap: 1.5rem;
}

.intro-pfp{
  margin: auto;
}

.ruler-a,
.ruler-b,
.ruler-c,
.ruler-d{
  max-width: 30rem;
  position: relative;
}

.ruler-a{
  border-bottom: 2px solid var(--green-accent);
}

.ruler-b{
  border-bottom: 2px solid var(--yellow-accent);
}

.ruler-c{
  border-bottom: 2px solid var(--red-accent);
}

.ruler-d{
  border-bottom: 2px solid var(--light-blue-accent);
}

.ruler-a::after,
.ruler-b::after,
.ruler-c::after,
.ruler-d::after
{
  content: " ";
  display: block;
  position: absolute;
  left: 1rem;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.ruler-a::after{
  border-top: 8px solid var(--green-accent);
}

.ruler-b::after{
  border-top: 8px solid var(--yellow-accent);
}

.ruler-c::after{
  border-top: 8px solid var(--red-accent);
}

.ruler-d::after{
  border-top: 8px solid var(--light-blue-accent);
}

.page-footer-icons{
  display: grid;
  column-gap: 0.2rem;
}

.fa{
  padding: 1rem;
}

.fa-facebook{
  background-color: var(--dark-blue-accent);
}

.fa-google-plus-official{
  background-color: var(--red-accent);
}

.fa-twitter{
  background-color: var(--light-blue-accent);
}

.fa-instagram{
  background-color: var(--pink-accent);
}

.fa-rss{
  background-color: var(--yellow-accent);
}

.tweets-container{
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 1rem;
}

.pfp{
  background-color: var(--grey-accent);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.input{
  background-color: var(--red-accent);
  padding: 0.5rem;
  border: none;
}

input::placeholder {
  color: var(--subtitle-font-color)
}

.button{
  background-color: var(--yellow-accent);
  color: var(--subtitle-font-color);
  border: none;
  position: absolute;
}

.fa-paper-plane{
  padding: 0.5rem;
}

/* responsiveness */

/* small only */

@media screen and (max-width: 39.9375em) {
  .hidden{
    display: none;
  }

  .col-2{
    grid-template-columns: repeat(2, 1fr);
  }

  .col-5{
    grid-template-columns: repeat(5, 1fr);
  }

  .project{
    margin: 1rem;
  }
}

/* medium and up */

@media screen and (min-width: 40em) {
  .row{
    display: grid;
    width: 75vw;
    max-width: 70rem;
    margin: auto;
    row-gap: 1.5rem;
    column-gap: 1.5rem;
  }

  .col-2{
    grid-template-columns: repeat(2, 1fr);
  }

  .m-col-3{
    grid-template-columns: repeat(3, 1fr);
  }

  .col-5{
    grid-template-columns: repeat(5, 1fr);
  }

  .alt-grid{
    display: grid;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
  }
}

/* medium only */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  
}

/* large screens and up */

@media screen and (min-width: 64em) {
  .col-2{
    grid-template-columns: repeat(2, 1fr);
  }

  .col-3{
    grid-template-columns: repeat(3, 1fr);
  }

  .col-4{
    grid-template-columns: repeat(4, 1fr);
  }

  .col-5{
    grid-template-columns: repeat(5, 1fr);
  }

  .desktop-hidden {
    display: none;
  }
}