/* Typography */

* {
  font-family: 'Ubuntu', sans-serif;
}

/* color components */
::root {
  --footer-background: #16242f;
}

/* base */

img {
  max-width: 100%;
}

/* layout*/

.heading,
.subheading{
  text-align: center;
}

.col-span{
  grid-column-start: 1;
  grid-column-end: -1;
}

/* responsiveness */

/* small only */

@media screen and (max-width: 39.9375em) {
  .hidden{
    display: none;
  }
}

/* medium and up */

@media screen and (min-width: 40em) {
  .row{
    display: grid;
    width: 75vw;
    max-width: 70rem;
    margin: auto;
  }

  .col-2{
    grid-template-columns: repeat(2, 1fr);
  }

  .col-5{
    grid-template-columns: repeat(5, 1fr);
  }
}

/* medium only */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  
}

/* large screens and up */

@media screen and (min-width: 64em) {
  .col-2{
    grid-template-columns: repeat(2, 1fr);
  }

  .col-3{
    grid-template-columns: repeat(3, 1fr);
  }

  .col-4{
    grid-template-columns: repeat(4, 1fr);
  }
}